* {
   /*border: 1px dashed #0000FF;*/
}

@font-face {
    font-family: peach;
    src:url('peach-sundress.ttf');
}
body {
    background-color:darkslategrey;
    background-size:cover;
    background-repeat: no-repeat; 
}

#main nav {
    align-content: center;
    text-align:center;
    display:block;
    font-size: 2.5em;
    margin-bottom: 1.5em;
    padding-left: 5.7em;
}

nav a {
    text-align:center;
    text-decoration: none;
    display: inline;
    margin-right: 6.250em;
    color: white;
    text-shadow: 2px 2px black;
    position: relative;
}

nav a:hover{
    color:#559761;
}

#main h1{
    font-size: 8em;
    text-align: center;
    margin-top: -.01em;
    margin-bottom: 0em;
    font-family: peach;
}

#main {
    margin-top: -.625em;
    margin-left: 18em;
    height: fill;
    background-color: #61B2FF;
    width: 84em;
    position: absolute;
}

img {
    height:17.625em;
    width:28.875em;
    display:block;
    margin: 0 auto;
    
}

#imagearea {
    position:relative;
    height: 20em;
    border: 1px solid #61B2FF;
}
.info{
    margin-top: 0px;
    font-size: 3.125em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    position:relative;
    margin-left:1em;
    margin-right:1em;
   
}
#price {
    margin-top: -1.0em;
    
}

#formdiv{
    display:block;
    text-align:center;
}
form{
    color: white;
    text-shadow: 2px 1px black;
    display:inline-block;
    text-align:left;
    margin-bottom:3.125em;
}
